/* * Reset * */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* * utils * */

.filter-bar {
    height: 100px;
}

/* HEADER */

main {
    height: calc(100vh - 134px);
}

#filter {
    width: 30%;
}

#search {
    width: 30%;
}

/* MAIN */

.animal {
    color: cadetblue;
}

.vegetable {
    color: goldenrod;
}

.user {
    color: purple;
}

.card-body {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}