/* * Reset * */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* * utils * */

.font-nav {
    font-family: 'Pacifico', cursive;
}

.filter-bar {
    height: 100px;
}

.hidden {
    display: none;
}

/* HEADER */

main {
    height: 100%;
}

#filter {
    width: 30%;
}

#search {
    width: 30%;
}

/* MAIN */

.animal {
    color: cadetblue;
}

.vegetable {
    color: goldenrod;
}

.user {
    color: purple;
}

.card-body {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    overflow: hidden;
    box-shadow: 2px 1px 1px black;
}