/* * Reset * */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

.filter-bar {
    height: 100px;
}

#filter {
    width: 30%;
}

/* MAIN */

.animal {
    color: cadetblue;
}

.vegetable {
    color: goldenrod;
}

.user {
    color: purple;
}